<!DOCTYPE html>
    <head>
        <meta charset="UTF-8"> <!--Reads every universal character -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--To match the width of the website to the width of the device-->
        <meta name="description" content="Snake Game using JS">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
<body>
    <div id="gameOverScreen">
        <div id="gameOverText">You Died!</div>
        <div id="deathMsg"></div>
        <div id="endScoreText"></div>
        <button id="respawnBtn" class="gameOverBtn">Respawn</button>
        <button id="titleScrnBtn" class="gameOverBtn">Title Screen</button>

    </div>
    <div id="gameWrapper">
        <div id="gameContainer">
            <div id="immuneTimer"></div>
            <div id="boostTimer"></div>
            <canvas id="gameBoard" width="800" height="800"></canvas>
            <div id="scoreText">0</div>
            <button id="resetBtn">Reset</button>
        </div>
    </div>
    <div id="titleScreen">
        <div id="gameContainer">
            <div id="titleText">Snake Game</div>
            <button id="enterUsername" class="gameOverBtn">Enter Username</button>
            <button id="instructionsBtn" class="gameOverBtn">Instructions</button>
        </div>
    </div>
    <div>
        <form id="usernameForm" style="display:none;">
            <label for="usernameInput">Enter your username:</label>
            <input type="text" id="usernameInput" name="username">
            <button type="button" id="startGameBtn" id="gameOverBtn">StartGame</button>
            <button type="button" id="userNameBackBtn" id="backBtn">Back to Title Screen</button>
        </form>
    </div>
    <div id="instructionsScreen">
        <h2>Instructions</h2>
        <p>Use the arrow keys to control the snake.</p>
        <p>Eat the food to grow longer.</p>
        <p>Avoid colliding with the walls or yourself.</p>
        <button id="instructionsBackBtn" class="gameOverBtn">Back to Title Screen</button>
    </div>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>